      body {
            background: #4527a0;
            background: linear-gradient(304deg, #4527a0, #2d1a68);
            font-family: 'Fugaz One', sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vw;
            position: relative;
            overflow-x: hidden;
        }
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #999;
            display: flex;
            justify-content: center;
            height: 5vw;
            padding: 0.5vw 0;
            z-index: 10;
        }
        .menu a {
            color: white;
            text-decoration: none;
            padding: 1vw 1vw;
            font-size: 2vw;
            text-transform: uppercase;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .menu a:hover {
            color: #ddd;
            transform: scale(1.1);
        }
        .banner {
            width: 100%;
            margin: 0;
            background-color: #130b2d;
            color: white;
            padding: 5vw 0 3vw 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 8vw;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }
        #search-container {
            position: relative;
            margin-top: 2vw;
            margin-bottom: 1vw;
        }
        #search-input {
            padding: 1vw 4vw 1vw 1.5vw;
            font-size: 1vw;
            width: 58vw;
            border: none;
            border-radius: 1.5vw;
            font-family: 'Fugaz One', sans-serif;
        }
        #search-icon {
            position: absolute;
            top: 50%;
            left: 60vw;
            transform: translateY(-50%);
            width: 2vw;
            height: 2vw;
        }
        .category-buttons {
            display: flex;
            justify-content: center;
            gap: 1vw;
            margin-bottom: 0vw;
        }
        .category-button {
            padding: 0.5vw 1vw;
            font-size: 1.2vw;
            cursor: pointer;
            border: none;
            border-radius: 1.5vw;
            background-color: #dddddd;
            transition: background-color 0.3s ease, color 0.3s ease;
            text-align: center;
            width: 8vw;
            flex-shrink: 0;
        }
        .category-button.active {
            background-color: #007BFF;
            color: white;
        }
        .category-button:hover {
            background-color: #007BFF;
            color: white;
        }
        #button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2vw;
            padding: 2vw;
            max-width: 90%;
            margin-top: 3vh;
        }
        button {
            font-family: 'Fugaz One', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1vw;
            font-size: 1.5vw;
            cursor: pointer;
            border: none;
            border-radius: 1.5vw;
            background-color: #dddddd;
            transition: all 0.3s ease;
            text-align: center;
            white-space: none;
            min-width: 12vw;
            max-width: 12vw;
            flex-shrink: 0;
        }
        button.all { background-color: #dddddd; }
        button.uncommon { background-color: #78ff44; }
        button.rare { background-color: #29cdff; }
        button.epic { background-color: #a864fd; }
        button.legendary { background-color: #fdff6a; }
        button.unreleased { background-color: #ff718d; }
        button.unobtainable { background-color: #dddddd; }
        button:hover.all { background-color: #9b9b9b; }
        button:hover.uncommon { background-color: #3fe200; }
        button:hover.rare { background-color: #009fcf; }
        button:hover.epic { background-color: #6e03f4; }
        button:hover.legendary { background-color: #f9fd00; }
        button:hover.unreleased { background-color: #ff0334; }
        button:hover.unobtainable { background-color: #9b9b9b; }
        button img {
            width: 10vw;
            height: 10vw;
            margin-bottom: 1.5vw;
        }
        button span {
            font-size: 1em;
            line-height: 1.2;
            flex-grow: 1;
            text-align: center;
            word-wrap: break-word;
            white-space: normal;
        }
        button:hover {
            background-color: #007BFF;
            color: white;
            transform: scale(1.1);
        }
        button:focus {
            outline: none;
            box-shadow: 0 0 0.5vw #007BFF;
        }
        #modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #modal-content {
            background-color: #fff;
            margin: 5% auto;
            padding: 2.5vw;
            border: none;
            width: 75vw;
            max-width: 600px;
            border-radius: 2vw;
            display: flex;
            align-items: center;
        }
        #modal-content img {
            width: 12vw;
            height: 12vw;
            margin-right: 3vw;
        }
        #modal-text {
            flex-grow: 1;
            text-align: left;
        }
        #close-btn {
            color: #aaa;
            font-size: 3vw;
            font-weight: bold;
            position: absolute;
            top: 1vw;
            right: 2vw;
        }
        #close-btn:hover,
        #close-btn:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        @media (max-width: 600px) {
            body {
                padding-top: 5vw;
            }
            #button-container {
                gap: 1vw;
            }
            button {
                min-width: 30vw;
                font-size: 3vw;
            }
            .category-button {
                font-size: 3vw;
                padding: 1vw 2vw;
                width: auto;
            }
        }